<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">
    <table>
        <%- tmpl %>
    </table>   
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" ></script> 
</body>
</html>